/* Write your code here */
.review-app-background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  padding: 5% 10%;
  max-height: 200vh;
}
.review-app-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.button1 {
  display: block;
  align-self: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.review {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-heading {
  color: white;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 400;
}
.username {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.same {
  color: #171f46;
  font-size: 22px;
}
